In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Preprocessing di `movies.csv`

In [7]:
df = pd.read_csv('../dataset/movies.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7668 non-null   object
 1   rating    7591 non-null   object
 2   genre     7668 non-null   object
 3   year      7668 non-null   int64
 4   released  7666 non-null   object
 5   score     7665 non-null   float64
 6   votes     7665 non-null   float64
 7   director  7668 non-null   object
 8   writer    7665 non-null   object
 9   star      7667 non-null   object
 10  country   7665 non-null   object
 11  budget    5497 non-null   float64
 12  gross     7479 non-null   float64
 13  company   7651 non-null   object
 14  runtime   7664 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 898.7+ KB

In [8]:
# rinomino la colonna 'name' in 'title'
df = df.rename(columns={'name': 'title'})

# rimuovo le colonne 'relesead' e 'writer'
df = df.drop(['released', 'writer'], axis=1)

# rimuovo le righe con budget e gross nulli
df = df[(df['budget'].notnull()) & (df['gross'].notnull())]

In [9]:
# aggiungo in testa una colonna 'id' con un indice progressivo per ogni film
df.insert(0, 'id', range(1, 1 + len(df)))

In [ ]:
# visualizzo le righe senza rating
df[df['rating'].isnull()]

In [11]:
# riempio i valori nulli della colonna 'rating'
df.loc[df['title'] == 'Nausicaä of the Valley of the Wind', 'rating'] = 'PG'
df.loc[df['title'] == 'Y Tu Mamá También', 'rating'] = 'R'
df.loc[df['title'] == 'Return of the Living Dead III', 'rating'] = 'R'
df.loc[df['title'] == 'Jason Goes to Hell: the Final Friday', 'rating'] = 'R'
df.loc[df['title'] == 'Madadayo', 'rating'] = 'Unrated'
df.loc[df['title'] == 'Happy Together', 'rating'] = 'PG-13'
df.loc[df['title'] == 'Eyes Wide Shut', 'rating'] = 'R'
df.loc[df['title'] == 'Brother', 'rating'] = 'R'
df.loc[df['title'] == 'Monster\'s Ball', 'rating'] = 'R'
df.loc[df['title'] == 'Ichi the Killer', 'rating'] = 'R'
df.loc[df['title'] == '31', 'rating'] = 'R'
df.loc[df['title'] == 'Clinton Road', 'rating'] = 'Unrated'

In [12]:
# imposto 'Unrated' per tutte le colonne che hanno valore 'Not Rated'
df.loc[df['rating'] == 'Not Rated', 'rating'] = 'Unrated'

In [13]:
# riempio i valori nulli della colonna 'country'
df.loc[df['title'] == 'Clinton Road', 'country'] = 'United States'

# riempio i valori nulli della colonna 'company'
df.loc[df['title'] == 'The Bear', 'company'] = 'Emabassy Pictures'
df.loc[df['title'] == 'Heart of Dixie', 'company'] = 'Orion Pictures'

# riempio i valori nulli della colonna 'runtime'
df.loc[df['title'] == 'One for the Money', 'runtime'] = 91

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5436 entries, 0 to 7652
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        5436 non-null   int64
 1   title     5436 non-null   object
 2   rating    5436 non-null   object
 3   genre     5436 non-null   object
 4   year      5436 non-null   int64
 5   score     5436 non-null   float64
 6   votes     5436 non-null   float64
 7   director  5436 non-null   object
 8   star      5436 non-null   object
 9   country   5436 non-null   object
 10  budget    5436 non-null   float64
 11  gross     5436 non-null   float64
 12  company   5436 non-null   object
 13  runtime   5436 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 637.0+ KB

In [14]:
# verifico che non ci siano duplicati
df.duplicated().sum()

0

In [15]:
df.to_csv('../dataset/movies_v2.csv', index=False)

### Preprocessing di `combined.csv`

In [11]:
df = pd.read_csv('../dataset/combined.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546421 entries, 0 to 546420
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   primaryName        546421 non-null  object
 1   birthYear          546421 non-null  int64
 2   deathYear          184608 non-null  float64
 3   primaryProfession  546421 non-null  object
 4   knownForTitle      546421 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 20.8+ MB

In [12]:
# creo le colonne 'profession_1', 'profession_2' e 'profession_3'
df = df.join(df['primaryProfession'].str.split(',', expand=True).rename(columns={0: 'profession_1', 1: 'profession_2', 2: 'profession_3'}))

df = df.drop(['primaryProfession', 'profession_3'], axis=1)

df = df.rename(columns={'profession_1': 'primaryProfession', 'profession_2': 'secondaryProfession'})
df['secondaryProfession'] = df['secondaryProfession'].fillna('none')

df.loc[df['primaryProfession'] == 'actress', 'primaryProfession'] = 'actor'
df.loc[df['secondaryProfession'] == 'actress', 'secondaryProfession'] = 'actor'

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546421 entries, 0 to 546420
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   primaryName          546421 non-null  object
 1   birthYear            546421 non-null  int64
 2   deathYear            184608 non-null  float64
 3   knownForTitle        546421 non-null  object
 4   primaryProfession    546421 non-null  object
 5   secondaryProfession  546421 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 25.0+ MB

,primaryName,birthYear,deathYear,knownForTitle,primaryProfession,secondaryProfession
0,Fred Astaire,1899,1987.0,The Towering Inferno,actor,miscellaneous
1,Lauren Bacall,1924,2014.0,To Have and Have Not,actor,soundtrack
2,Brigitte Bardot,1934,NaN,Contempt,actor,music_department
3,John Belushi,1949,1982.0,Saturday Night Live,actor,writer
4,Ingmar Bergman,1918,2007.0,Wild Strawberries,writer,director

In [13]:
# riempio i valori nulli della colonna 'deathYear'
df['deathYear'] = df['deathYear'].fillna(0)

df['deathYear'] = df['deathYear'].astype('int64')
df['birthYear'] = df['birthYear'].astype('int64')

df.info()
df.to_csv('../dataset/combined_v2.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546421 entries, 0 to 546420
Data columns (total 6 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   primaryName          546421 non-null  object
 1   birthYear            546421 non-null  int64
 2   deathYear            546421 non-null  int64
 3   knownForTitle        546421 non-null  object
 4   primaryProfession    546421 non-null  object
 5   secondaryProfession  546421 non-null  object
dtypes: int64(2), object(4)
memory usage: 25.0+ MB

### Costruzione del nuovo dataset `professionals.csv`

In [14]:
# costruisco un dataset dei movie professionals
df_movies = pd.read_csv('../dataset/movies_v2.csv')

directors = df_movies['director'].unique()
actors = df_movies['star'].unique()

# ottengo l'unione tra registi e attori
union = np.union1d(directors, actors)

df_professionals = pd.DataFrame({'primaryName': union})

df_professionals.duplicated().sum()

0

In [15]:
len(df_professionals)

3803

In [16]:
df = pd.read_csv('../dataset/combined_v2.csv')

# eseguo il join tra i dataset
df = df.merge(df_professionals, on='primaryName', how='left')

df.to_csv('../dataset/professionals.csv', index=False)