In [42]:
import pandas as pd

### Preprocessing di "movies.csv"

In [43]:
df = pd.read_csv('../dataset/movies.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7668 non-null   object
 1   rating    7591 non-null   object
 2   genre     7668 non-null   object
 3   year      7668 non-null   int64
 4   released  7666 non-null   object
 5   score     7665 non-null   float64
 6   votes     7665 non-null   float64
 7   director  7668 non-null   object
 8   writer    7665 non-null   object
 9   star      7667 non-null   object
 10  country   7665 non-null   object
 11  budget    5497 non-null   float64
 12  gross     7479 non-null   float64
 13  company   7651 non-null   object
 14  runtime   7664 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 898.7+ KB

In [44]:
# rinomina la colonna 'name' in 'title'
df = df.rename(columns={'name': 'title'})

# rimuovi la colonna 'released'
df = df.drop('released', axis=1)

# rimuovi le righe con budget e gross nulli
df = df[(df['budget'].notnull()) & (df['gross'].notnull())]

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5436 entries, 0 to 7652
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     5436 non-null   object
 1   rating    5424 non-null   object
 2   genre     5436 non-null   object
 3   year      5436 non-null   int64
 4   score     5436 non-null   float64
 5   votes     5436 non-null   float64
 6   director  5436 non-null   object
 7   writer    5436 non-null   object
 8   star      5436 non-null   object
 9   country   5435 non-null   object
 10  budget    5436 non-null   float64
 11  gross     5436 non-null   float64
 12  company   5434 non-null   object
 13  runtime   5435 non-null   float64
dtypes: float64(5), int64(1), object(8)
memory usage: 637.0+ KB

In [45]:
# aggiungi in testa una colonna 'id' con un indice progressivo per ogni film
df.insert(0, 'id', range(1, 1 + len(df)))

In [46]:
# stampa le righe senza rating
df[df['rating'].isnull()]

,id,title,rating,genre,year,score,votes,director,writer,star,country,budget,gross,company,runtime
505,286,Nausicaä of the Valley of the Wind,NaN,Animation,1984,8.1,157000.0,Hayao Miyazaki,Hayao Miyazaki,Sumi Shimamoto,Japan,1000000.0,8736506.0,Nibariki,117.0
1852,1011,Y Tu Mamá También,NaN,Drama,1991,7.6,118000.0,Alfonso Cuarón,Carlos Cuarón,Maribel Verdú,Mexico,2000000.0,33616692.0,Anhelo Producciones,106.0
2311,1305,Return of the Living Dead III,NaN,Horror,1993,5.9,14000.0,Brian Yuzna,John Penney,Kent McCord,United States,2000000.0,54207.0,Bandai Visual Company,97.0
2313,1307,Jason Goes to Hell: the Final Friday,NaN,Fantasy,1993,4.2,29000.0,Adam Marcus,Jay Huguely,John D. LeMay,United States,3000000.0,15935068.0,New Line Cinema,87.0
2417,1380,Madadayo,NaN,Drama,1993,7.3,5100.0,Akira Kurosawa,Ishirô Honda,Tatsuo Matsumura,Japan,11900000.0,596.0,DENTSU Music And Entertainment,134.0
3114,1868,Happy Together,NaN,Drama,1997,7.7,25000.0,Kar-Wai Wong,Manuel Puig,Leslie Cheung,Hong Kong,4200000.0,585773.0,Block 2 Pictures,96.0
3446,2102,Eyes Wide Shut,NaN,Drama,1999,7.4,313000.0,Stanley Kubrick,Stanley Kubrick,Tom Cruise,United Kingdom,65000000.0,162242684.0,Warner Bros.,159.0
3817,2408,Brother,NaN,Crime,2000,7.1,22000.0,Takeshi Kitano,Takeshi Kitano,Takeshi Kitano,United States,10000000.0,15250594.0,Recorded Picture Company (RPC),114.0
3890,2471,Monster's Ball,NaN,Drama,2001,7.0,84000.0,Marc Forster,Milo Addica,Billy Bob Thornton,United States,4000000.0,45011434.0,Lee Daniels Entertainment,111.0
3944,2520,Ichi the Killer,NaN,Action,2001,7.0,53000.0,Takashi Miike,Sakichi Sato,Tadanobu Asano,Japan,1400000.0,80631.0,Omega Project,129.0
6983,5002,31,NaN,Horror,2016,5.1,19000.0,Rob Zombie,Rob Zombie,Malcolm McDowell,United Kingdom,1500000.0,850419.0,Bow and Arrow Entertainment,102.0
7615,5427,Clinton Road,NaN,Horror,2019,5.9,1900.0,Richard Grieco,Noel Ashman,Ace Young,NaN,2500000.0,50400.0,Growing Tree Productions,77.0

In [47]:
# riempi i valori nulli della colonna 'rating'
df.loc[df['title'] == 'Nausicaä of the Valley of the Wind', 'rating'] = 'PG'
df.loc[df['title'] == 'Y Tu Mamá También', 'rating'] = 'R'
df.loc[df['title'] == 'Return of the Living Dead III', 'rating'] = 'R'
df.loc[df['title'] == 'Jason Goes to Hell: the Final Friday', 'rating'] = 'R'
df.loc[df['title'] == 'Madadayo', 'rating'] = 'PG'
df.loc[df['title'] == 'Happy Together', 'rating'] = 'R'
df.loc[df['title'] == 'Eyes Wide Shut', 'rating'] = 'R'
df.loc[df['title'] == 'Brother', 'rating'] = 'R'
df.loc[df['title'] == 'Monster\'s Ball', 'rating'] = 'R'
df.loc[df['title'] == 'Ichi the Killer', 'rating'] = 'R'
df.loc[df['title'] == '31', 'rating'] = 'R'
df.loc[df['title'] == 'Clinton Road', 'rating'] = 'R'

In [48]:
# riempi i valori nulli della colonna 'country'
df.loc[df['title'] == 'Clinton Road', 'country'] = 'United States'

# riempi i valori nulli della colonna 'company'
df.loc[df['title'] == 'The Bear', 'company'] = 'Emabassy Pictures'
df.loc[df['title'] == 'Heart of Dixie', 'company'] = 'Orion Pictures'

# riempi i valori nulli della colonna 'runtime'
df.loc[df['title'] == 'One for the Money', 'runtime'] = 91

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5436 entries, 0 to 7652
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        5436 non-null   int64
 1   title     5436 non-null   object
 2   rating    5436 non-null   object
 3   genre     5436 non-null   object
 4   year      5436 non-null   int64
 5   score     5436 non-null   float64
 6   votes     5436 non-null   float64
 7   director  5436 non-null   object
 8   writer    5436 non-null   object
 9   star      5436 non-null   object
 10  country   5436 non-null   object
 11  budget    5436 non-null   float64
 12  gross     5436 non-null   float64
 13  company   5436 non-null   object
 14  runtime   5436 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 679.5+ KB

In [49]:
# rimuovi i duplicati
df.drop_duplicates(subset=['title', 'director', 'year'], keep='first', inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5436 entries, 0 to 7652
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        5436 non-null   int64
 1   title     5436 non-null   object
 2   rating    5436 non-null   object
 3   genre     5436 non-null   object
 4   year      5436 non-null   int64
 5   score     5436 non-null   float64
 6   votes     5436 non-null   float64
 7   director  5436 non-null   object
 8   writer    5436 non-null   object
 9   star      5436 non-null   object
 10  country   5436 non-null   object
 11  budget    5436 non-null   float64
 12  gross     5436 non-null   float64
 13  company   5436 non-null   object
 14  runtime   5436 non-null   float64
dtypes: float64(5), int64(2), object(8)
memory usage: 679.5+ KB

In [50]:
df.to_csv('../dataset/movies_v2.csv', index=False)

### Preprocessing di "combined.csv"

In [51]:
df = pd.read_csv('../dataset/combined.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546421 entries, 0 to 546420
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   primaryName        546421 non-null  object
 1   birthYear          546421 non-null  int64
 2   deathYear          184608 non-null  float64
 3   primaryProfession  546421 non-null  object
 4   knownForTitle      546421 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 20.8+ MB

In [52]:
# rinomina la colonna 'primaryName' in 'name'
df = df.rename(columns={'primaryName': 'name'})

In [53]:
# trasforma la colonna 'primaryProfession' in 3 colonne separate
df[['profession1', 'profession2', 'profession3']] = df['primaryProfession'].str.split(',', expand=True)

df['profession1'] = df['profession1'].str.strip()
df['profession2'] = df['profession2'].str.strip()
df['profession3'] = df['profession3'].str.strip()

# rimuovi la colonna 'primaryProfession'
df = df.drop('primaryProfession', axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546421 entries, 0 to 546420
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   name           546421 non-null  object
 1   birthYear      546421 non-null  int64
 2   deathYear      184608 non-null  float64
 3   knownForTitle  546421 non-null  object
 4   profession1    546421 non-null  object
 5   profession2    310351 non-null  object
 6   profession3    196605 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 29.2+ MB

In [54]:
# riempi i valori nulli di 'profession2' e 'profession3' con 'none'
df['profession2'] = df['profession2'].fillna('none')
df['profession3'] = df['profession3'].fillna('none')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546421 entries, 0 to 546420
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   name           546421 non-null  object
 1   birthYear      546421 non-null  int64
 2   deathYear      184608 non-null  float64
 3   knownForTitle  546421 non-null  object
 4   profession1    546421 non-null  object
 5   profession2    546421 non-null  object
 6   profession3    546421 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 29.2+ MB

In [55]:
# sostituisci il valore 'actress' con 'actor' nelle colonne 'profession1', 'profession2' e 'profession3'
df.loc[df['profession1'] == 'actress', 'profession1'] = 'actor'
df.loc[df['profession2'] == 'actress', 'profession2'] = 'actor'
df.loc[df['profession3'] == 'actress', 'profession3'] = 'actor'

In [56]:
# riempi i valori nulli di 'deathYear' con 0 e cambia il tipo di 'deathYear' in int64
df['deathYear'] = df['deathYear'].fillna(0)
df['deathYear'] = df['deathYear'].astype('int64')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546421 entries, 0 to 546420
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   name           546421 non-null  object
 1   birthYear      546421 non-null  int64
 2   deathYear      546421 non-null  int64
 3   knownForTitle  546421 non-null  object
 4   profession1    546421 non-null  object
 5   profession2    546421 non-null  object
 6   profession3    546421 non-null  object
dtypes: int64(2), object(5)
memory usage: 29.2+ MB

In [57]:
df.to_csv('../dataset/combined_v2.csv', index=False)